* {
  text-decoration: none;
}

html {
  font-family: Times New Roman;
  font-size: 16px;
  margin: auto;
  padding: 0;
  background-color: #546BAB;
  color: seashell;
  width: 100%;
  height: 100%;
}

p {
  text-align: justify;
}

h2 {
  text-decoration: underline;
}

.skillset {
  color: #fff;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  margin: 50px;
  top: 70px;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 3px solid #000;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0px;
}
nav {
  list-style: none;
}
nav #menubar {
  float: right;
  margin: 25px 0;
  padding: 0;
  transition: all 0.5 linear;
}

nav li {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  margin: auto 10px;
  text-transform: uppercase;
}

nav #icon{
  color: #000;
  font-size: 25px;
  float: right;
  margin: 12.5px 25px 0 0 ; /*because header height is 50px, icon height is 25px, so top and bottom should be 12.5px each to be in the middle.*/
  cursor: pointer;
  display: none;
}

nav #close {
  color: #B52522;
  font-size: 30px;
  float: right;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 800px) {
  nav #icon {
    display: block;
  }

  nav #menubar {
    background-color: #CDE7FF;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50px;
    text-align: center;
    line-height: 100px;
    margin-top: 0;
    left: -100%; 
    transition: all 0.5s;
  }
  nav li {
    display: block;
  }
  nav #close {
    display: block;
    position: fixed;
    top: 60px;
    right: -100%;
    transition: all 0.5s;
  }
}

.my-profile {
  height: 100vh;
  /* width: 100%; */
  margin: auto;
}

.img-container{
  position: relative;
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 500px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  border: 5px solid #000;
  overflow: hidden;
}
img {
  min-width: 100%;
  min-height: 100%;
  transition: all 1s ease-out
}

img.img-after {
  position: absolute;
  height: 300px;
  width: 50px;
  opacity: 0;
}

.img-container:hover img.img-before{
  opacity: 0;
}

.img-container:hover img.img-after{
  opacity: 1;
}

section.intro p{
  text-align: center;
  font-size: 22px
}


h1 {
  background-color: #fff;
  color: #000
}
.turning-point {
  font-size: 18px;
  text-align: center
}
